/* Backgroung header image */
.headerBackground{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner/banner_2.png);
    height: 80vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
}

.mraginHeaderBG{
    margin:10%;
}

.navButton{
padding: 12px 14px;
font-weight: 600;
background-color: transparent;
border: none;
}
.border-buttom{
    border-bottom: 2px whitesmoke;
}

.navButton:hover{
    border-bottom: 3px solid blue;
    transition-delay: .2s;
    transition-property: initial;
}

.jumbotron{
    background: none;
}

#white{
    color: white;
}

#roundButton{
    padding: 12px 18px;
    border-radius: 30px;
    margin: 15px 0px;
}

.aboutUsBox{
    /* width: 300px; */
    height: 300px;
}

.imageAboutUs{
    height: auto;
    width: 300px;
}

.margin-aboutUs{
    margin-top: 8%;
    margin-bottom: 6%;
}

.analysisBg{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/about/counter.png);
    background-size: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
}

.paddingContainer{
    padding-top: 10%;
}

.analysisBox{
    width: 400px;

}

.testimonialsBg{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner/testmonial.png);
    background-size: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 5%;
}

.marginTestimonials{
    margin: 0 20%;
}

.marginResopnse{
    margin-left: 10%;
}

.contactUsBg{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner/info_banner.png);
    background-size: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
    margin:5% 0;
}

.paddingContactUs{
    padding-top: 5%;
}